.map {
  background-image: url(https://user-images.githubusercontent.com/81981/103241467-9f614f80-4953-11eb-8c60-3e512e0587ad.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@screen sm {
  :global(.is-window) .sheet {
    --rsbs-max-w: 300px;
    --rsbs-ml: 10px;
    --rsbs-mr: auto;
  }
}
.sheet {
  & [data-rsbs-overlay] {
    background-color: hsla(0, 0%, 100%, 0.95);
    transform: translate3d(
      0,
      calc(
        var(--rsbs-overlay-translate-y, 0px) +
          calc(var(--rsbs-antigap-scale-y, 0) * 1px)
      ),
      0
    );
    height: var(--rsbs-overlay-h, 0px);
    height: calc(
      var(--rsbs-overlay-h, 0px) + calc(var(--rsbs-antigap-scale-y, 0) * 1px)
    );
  }

  &:after {
    display: none;
  }

  /* iOS safari don't like this, probably because of the CSS transform that's also applied */
  @supports (backdrop-filter: blur(10px)) {
    & [data-rsbs-overlay] {
      background-color: hsla(0, 0%, 100%, 0.63);
      backdrop-filter: blur(10px);
    }
  }
  @supports (-webkit-backdrop-filter: blur(10px)) {
    & [data-rsbs-overlay] {
      background-color: hsla(0, 0%, 100%, 0);
    }
    & [data-rsbs-header],
    & [data-rsbs-content] {
      background-color: hsla(0, 0%, 100%, 0.63);
      -webkit-backdrop-filter: blur(10px);
    }
    & [data-rsbs-header] {
      border-top-left-radius: var(--rsbs-overlay-rounded);
      border-top-right-radius: var(--rsbs-overlay-rounded);
    }
    & [data-rsbs-scroll] {
      min-height: 1px;
    }
  }

  & [data-rsbs-header] {
    padding-bottom: 16px;
  }

  & [data-rsbs-header]:before {
    background-color: hsla(0, 0%, 0%, 0.15);
    width: 30px;
  }

  & [data-rsbs-header] input {
    border-radius: 8px;
    background: hsla(0, 0%, 0%, 0.05);
    border-width: 0px;
    padding: 4px 8px;
    height: 36px;
    width: 100%;
  }
  & [data-rsbs-header] input:focus {
    outline: none;
    box-shadow: #06befb 0 0 0 2px;
  }
}

.row {
  width: 100%;
  height: 64px;
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}
