.wrapper {
  background: linear-gradient(171.09deg, #f1c7a7 0.47%, #ff8fcb 96.54%), #c4c4c4;
  height: 336px;
  width: 100%;

  position: relative;
}
.wrapper:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(89, 35, 64, 0.4);
  z-index: 1;
}
.subtitle,
.text {
  font-size: 32px;
  line-height: 46px;
}

.text.text {
  transition-duration: 0s;
  --tw-translate-y: 40px;
  opacity: 0;
}

.open .text.text {
  transition-duration: 300ms;
  transition-property: transform, opacity;
  transition-timing-function: ease-out, ease-in;
  --tw-translate-y: 0px;
  opacity: 1;
}

.open {
  & .text {
    transition-delay: calc(150ms + calc(var(--delay, 80ms) * var(--index, 0)));
  }
  & .text + .text {
    --index: 1;
  }
  & .text + .text + .text {
    --index: 2;
  }
  & .text + .text + .text + .text {
    --index: 3;
  }
}

.svg {
  /* TODO */
}
