@tailwind base;

:root {
  --rsbs-backdrop-bg: rgba(15, 23, 42, 0.7);
}

html,
body {
  @apply font-body overscroll-y-none;
}

.is-window {
  --rsbs-max-w: 640px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}
.is-iframe {
  --rsbs-ml: 0px;
  --rsbs-mr: 0px;
}

@tailwind components;

@tailwind utilities;
