@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-body overscroll-y-none;
  }
}

/* Bottom Sheet styling used in the docs */
@layer base {
  :root {
    --rsbs-backdrop-bg: rgba(15, 23, 42, 0.7);
  }
}
@layer components {
  .is-window {
    --rsbs-max-w: 640px;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
    @screen sm {
      & [data-rsbs-overlay] {
        --rsbs-overlay-rounded: 16px;
      }
    }
  }
  .is-iframe {
    --rsbs-ml: 0px;
    --rsbs-mr: 0px;
  }
  .is-iframe .only-window {
    display: none;
  }
}
